@font-face {
    font-family: 'Sherwood';
    src: url('~@/assets/fonts/Sherwood.woff2');
}

@font-face {
    font-family: 'Feinen';
    src: url('~@/assets/fonts/Feinen.woff2');
}

@font-face {
    font-family: 'Postanti';
    src: url('~@/assets/fonts/Postanti.woff2');
}

@font-face {
    font-family: 'Stone';
    src: url('~@/assets/fonts/Stone.woff2');
}